<ul>
	<% @words_letter.each do |word| %>
	<li id="term">
	<%= link_to( word.name, word_definitions_path(word.id)) %></li>
	<%= link_to('editar término', edit_word_path(word.id)) %>
	<%= link_to('eliminar término',word_path(word.id), :method => :delete) %>
	<% end %>
</ul>
	