// Place all the styles related to the words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
	text-decoration: none;
}
#term {
	font-family: 'franklin_gothic_fsbook';
	font-size: 1em;
	text-decoration: none;
	color: black;
}